// шрфиты
$first-font: "Merriweather", "Thahoma", serif;
$secondary-font: "Golos-Text", "Verdana", sans-serif;

// фоновые цвета
$balck-background: #1F1F1F;
$white-background: #FFFFFF;
$yellow-background: #FBCE51;
$blu-background: #3057A2;
$milky-background: #E9DED4;
// цвета текста
$white-text: #FFFFFF;
$red-text: #F54932;
$blue-text: #3057A2;
$black-text: #313131;
// цвета границ
$black-border:#313131;
$gray-border: #D0D0D0;
$red-border: #F54932;
// отступы страниц
$mobile-padding: 20px;
$desktop-padding: 72px;
$big-desktop-padding: 350px;
// размеры экрана
$desktop-width: 1366px;
$big-desktop-width: 1920px;