.button {
    width: 100%;
    min-height: 48px;
    text-align: center;
    padding: 13px 0;
    border-radius: 66px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 13px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    &--primary {
        background-color: $balck-background;
        color: $white-text;

        &:hover {
            background-color: $yellow-background;
            color: $black-text;
        }
    }

    &--secondary {
        background-color: $white-background;
        opacity: 0.9;
        
        &:hover {
            background-color: $balck-background;
            color: $white-text;
        }
    }

    &--more {
        width: 113px;
        min-height: 35px;
        border: 1px solid $blue-text;
        padding: 10px 0;

        &:hover {
            background-color: $blu-background;
            color: $white-text;
        }
    }
}

@media screen and (min-width: $desktop-width) {
    .button {
        min-height: 72px;
        padding: 13px 58px;

        &--secondary {
            background-color: unset;
            opacity: 1;
            border: 2px solid $black-border;
        }

        &--more {
            padding: 0 0;
            min-width: 113px;
            min-height: 35px;
        }
    }
}