.invitation {
    padding: 49px 20px 0;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: $desktop-width) {
    .invitation {
        padding: 30px $desktop-padding 0;
    }
}

.padding-left {
    padding-left: 12px;
}

.flex-row {
    padding-bottom: 3px;
}

.invitation__title {
    display: block;
}

@media screen and (min-width: $desktop-width) {
    .invitation__title {
       font-size: 36px;
       line-height: 135%;
    }
}

@media screen and (min-width: $desktop-width) {
    .invitation-list__title {
        background-color: $white-background;
    }
}

.invitation__title--top{
    background-image: url("../../images/chess-people@1x.jpg");
    background-position: 50% 90%;
    background-repeat: no-repeat;
    background-size: 335px 212px;
    padding: 0 0 255px;

}
@supports (background-image: url("image.webp")) {
    .invitation__title--top{
        background-image: url("../../images/chess-people@1x.webp");
    }
  }

@media screen and (min-resolution: 192dpi) {
    .invitation__title--top{
        background-image: url("../../images/chess-people@2x.jpg");
    }

    @supports (background-image: url("image.webp")) {
        .invitation__title--top{
            background-image: url("../../images/chess-people@2x.webp");
        }
    }
}

@media screen and (min-width: $desktop-width) {
    .invitation__title--top {
        padding: 0 ;
        background-image: unset;
        display: inline;
    }
}

.invitation__title--midle{
    background-image: url("../../images/grossmaster@1x.jpg");
    background-position: 50% 90%;
    background-repeat: no-repeat;
    background-size: 374px 430px;
    margin: -20px;
    padding: 28px 20px 471px;
}

@supports (background-image: url("image.webp")) {
    .invitation__title--midle{
        background-image: url("../../images/grossmaster@1x.webp");
    }
  }

@media screen and (min-resolution: 192dpi) {
    .invitation__title--midle{
        background-image: url("../../images//grossmaster@2x.jpg");
    }

    @supports (background-image: url("image.webp")) {
        .invitation__title--midle{
            background-image: url("../../images/grossmaster@2x.webp");
        }
    }
}

@media screen and (min-width: $desktop-width) {
    .invitation__title--midle {
        padding: 0 0 0 22px;
        background-image: unset;
        display: inline;
    }
}

@media screen and (min-width: $desktop-width) {
    .invitation__wrapper-of-text {
        display: block;
        padding: 77px 450px 76px 0;
        background-image: url("../../images/chess-people@1x.jpg");
        background-position: 100% 52%;
        background-repeat: no-repeat;
        background-size: 394px 250px;
        }

    @supports (background-image: url("image.webp")) {
        .invitation__wrapper-of-text {
            background-image: url("../../images/chess-people@1x.webp");
        }
    }
        
    @media screen and (min-resolution: 192dpi) {
        .invitation__wrapper-of-text {
            background-image: url("../../images/chess-people@2x.jpg");
        }
        
    @supports (background-image: url("image.webp")) {
        .invitation__wrapper-of-text {
            background-image: url("../../images/chess-people@2x.webp");
            }
        }
    }
}

.invitation__title--bottom {
    padding: 8px 0 30px 0;
}

@media screen and (min-width: $desktop-width) {
    .invitation__title--bottom {
        padding: 16px 30px 30px 518px;
        position: relative; 

        &::after {
            position: absolute;
            content: "";
            top: -31px;
            left: -29px;
            width: 531px;
            height: 589px;
            background-image: url("../../images/grossmaster@1x.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

    @supports (background-image: url("image.webp")) {
        &::after {
            background-image: url("../../images/grossmaster@1x.webp");
        }
    }
        
    @media screen and (min-resolution: 192dpi) {
        &::after {
            background-image: url("../../images/grossmaster@2x.jpg");
        }
        
    @supports (background-image: url("image.webp")) {
        &::after {
            background-image: url("../../images/grossmaster@2x.webp");
            }
        }
    }
    }
}

@media screen and (min-width: $desktop-width) {
    .invitation-list {
        padding: 16px 30px 34px 518px; 
    }
}

.invitation-list__wrapper {
    border-bottom: 2px solid $gray-border;
    padding-bottom: 15px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;

    &:last-of-type {
        border-bottom: none;
        padding-top: 5px;
    }
}

@media screen and (min-width: $desktop-width) {
    .invitation-list__wrapper {
        display: grid;
        grid-template-columns: 0.76fr 1fr;
        padding: 0;
        min-width: 704px;
        gap: 2px;
        background-color: $gray-border;

        & dd {
            padding-top: 18px;
            padding-left: 18px;
            padding-bottom: 12px;
            background-color: $white-background
        }

        &:last-of-type {
            padding-top: 0px;
        }
    }
}

.invitation-list__title {
    padding-bottom: 12px;
}


@media screen and (min-width: $desktop-width) {
    .invitation-list__title {
        padding-top: 16px;
        padding-bottom: 12px;
    }
}

.del {
    padding-right: 8px;
    text-decoration: none;
    position: relative;

    &::after {
        content: "";
        background-color: #f54932;
        border-radius: 1px;
        width: 89px;
        height: 2px;
        position: absolute;
        top: 13px;
        left: -2px;
    }
}

.invitation__help {
    padding: 25px 0;
}

@media screen and (min-width: $desktop-width) {
    .invitation__help {
        margin: 0 52px 0 auto;
        padding: 0;
    }
}