.swiper-pagination-bullet-active {
    background-color: $balck-background;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

.swiper-button-prev {
    left: 78px;
}

.swiper-button-next {
    right: 78px;
}

.swiper-button-next, .swiper-button-prev {
    top: 335px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    background-color: $balck-background;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    background-color: $yellow-background;
}

:root {
    --swiper-navigation-size: 16px;
    --swiper-theme-color: #ffffff;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 3px);
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0.2;
}

.swiper-pagination-total{
    opacity: 0.6;
}